.page-title{
    text-align: center;
    font-size: 4rem;
}
.navbar{
    width: 100vw;


    &__menu{
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: lightblue;
    }

    &__element{
        font-size: 26px;
        background-color: darken(lightblue, 8%);
        padding: 14px;
        margin: 0 18px;
        cursor: pointer;
    }

}

ul.navbar__menu{
    margin: 0;
    padding: 8px;
    list-style-type: none;
}